* { 
  margin: 0; padding: 0;
}

body {
   width: 100vw; 
   height: 100vh;
   background-color: white;
   position: relative;
}

canvas {
  cursor: crosshair;
  display: block;
}

.repeading {
  pointer-events: none;
}
p {
  margin: 0;
}
.options {
  background-color: transparent;
  padding: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  position: fixed;
}